<launch>

	<rosparam command="load" file="$(env HOME)/workspace/data/cams/aqua/cam0.yaml" ns="/cam0"/>
	<rosparam command="load" file="$(env HOME)/workspace/data/cams/aqua/cam1.yaml" ns="/cam1"/>

	<node name="stereo_rectifier_node" pkg="dsvo" type="stereo_rectifier_node" output="screen" >
	 <param name="cam0_topic" value="/camera_front_left/image_raw" />
	 <param name="cam1_topic" value="/camera_front_right/image_raw" />
	 <param name="cvt2VGA" value="true" />
	</node>

	<node name="stereo_processor_node" pkg="dsvo" type="stereo_processor_node" output="screen" >
		<param name="cam0_topic" value="/camera_front_left/image_raw" />
		<param name="cam1_topic" value="/camera_front_right/image_raw" />
		<param name="cvt2VGA" value="true" />
	</node>

	<node name="comparer_node" pkg="dsvo" type="comparer_node" args="point" />

	<node name="dynamic_reconfigure_load" pkg="dynamic_reconfigure" type="dynparam" args="load /stereo_processor_node $(find dsvo)/cfg/aqua.yaml" />
</launch>
