<launch>

	<rosparam command="load" file="$(env HOME)/workspace/data/cams/bbd/cam0.yaml" ns="/cam0"/>
	<rosparam command="load" file="$(env HOME)/workspace/data/cams/bbd/cam1.yaml" ns="/cam1"/>

	<node name="stereo_rectifier_node" pkg="dsvo" type="stereo_rectifier_node" output="screen" >
		<param name="cam0_topic" value="/cam_fl/image_raw" />
		<param name="cam1_topic" value="/cam_fr/image_raw" />
		<param name="cvt2VGA" value="false" />
	</node>

	<node name="stereo_processor_node" pkg="dsvo" type="stereo_processor_node" output="screen" >
		<param name="cam0_topic" value="/cam_fl/image_raw" />
		<param name="cam1_topic" value="/cam_fr/image_raw" />
		<param name="cvt2VGA" value="false" />
		<param name="gt_type" value="point" />
	</node>

</launch>
