<launch>

	<node name="stereo_split" pkg="dsvo" type="stereo_split" args="0"/>

	<rosparam command="load" file="$(env HOME)/workspace/data/cams/zed/cam0.yaml" ns="/cam0"/>
	<rosparam command="load" file="$(env HOME)/workspace/data/cams/zed/cam1.yaml" ns="/cam1"/>

	<node name="stereo_rectifier_node" pkg="dsvo" type="stereo_rectifier_node">
		<param name="cam0_topic" value="/stereo/left/image_raw_color" />
		<param name="cam1_topic" value="/stereo/right/image_raw_color" />
	</node>

	<node name="stereo_processor_node" pkg="dsvo" type="stereo_processor_node" output="screen" />

	<node name="comparer_node" pkg="dsvo" type="comparer_node" args="odom" />

	<node name="dynamic_reconfigure_load" pkg="dynamic_reconfigure" type="dynparam" args="load /stereo_processor_node $(find dsvo)/cfg/zed.yaml" />
</launch>
